.payout {
  display: none;
}

.table__payout {
  white-space: nowrap;

  thead tr {
    border-top: none !important;

    .button__table-navigation {
      padding: 5px 10px;

      .icon {
        height: 12px;
        width: 12px;
        margin-left: 5px;
      }

      &:hover {
        background: $color-light-grey;
        border-radius: 3px;
      }

      &:hover .icon {
        visibility: visible;
      }
    }

    th {
      padding: 13px 0;
    }

    &:hover {
      background: none;

      .icon {
        visibility: hidden;
      }
    }
  }
}
