.icon {
  filter: $filter-icon;
  width: 18px;
  height: 18px;
}

.date-picker {
  margin: 40px 0;
  display: flex;
  justify-content: center;

  input {
    margin: 0 10px;
    padding: 3px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.page__wrapper {
  background: $color-light;
  box-shadow: 1px 1px 5px 0px $color-paragraph;
  border-radius: 2px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 30px;
}

.page-title {
  text-align: left;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}

.separate-line-horizontal {
  height: 0.5px;
  width: 100%;
  background: $color-paragraph;
  display: block;
}

.separate-line-vertical {
  width: 1px;
  height: auto;
  background: $color-paragraph;
  display: inline-block;
}

.button__sidebar {
  align-items: center;
  display: flex;
  position: relative;
  font-family: $paragraph-font;
  font-weight: 200;
  color: $color-paragraph;
  font-size: 18px;

  &:hover {
    background: $color-sidebar-hover;
    color: $color-light;

    .icon {
      filter: $filter-icon-light;
    }

    &:before {
      content: " ";
      background: $main-color;
      width: 4px;
      height: 100%;
      left: 0;
      position: absolute;
    }
  }
}

.button  {
  background: $main-color;
  color: $color-light;
  padding: 10px;
  border-radius: 5px;

  img {
    filter: $filter-icon-light;
  }

  &:hover {
    background: rgb(247, 115, 27);
  }

  &:active {
    background: rgba(247, 115, 27, 0.8);
  }
}

.button__cancel{
  background: rgba(156, 156, 156, 0.867);
  color: $color-light;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background: rgb(129, 129, 129);
  }

  &:active {
    background: rgba(156, 156, 156, 0.7);
  }
}

%h2,
%h3,
%h4,
%h5,
h2,
h3,
h4,
h5 {
  color: $color-paragraph;
  font-family: $paragraph-font;
}

.summary {
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &-col {
      @extend %col-lg-5;
      @extend %col-12;
      padding: 0;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $color-paragraph;
    padding: 8px 0;

    &-title {
      margin: 0;
    }
  }
}

.page__content {
  margin: 50px 150px;
}

.scroll__wrapper {
  overflow-x: auto;
  width: 100%;
  display: block;
}

.table {
  width: 100%;
  margin: 50px 0;
  border-collapse: collapse;

  tr {
    border-bottom: solid 0.5px $color-paragraph;
    text-align: left;

    &:hover {
      background: $color-light-grey;
    }

    &:hover .icon {
      visibility: visible;
    }

    .icon {
      visibility: hidden;
    }

    td {
      padding: 15px 10px;

      .table__text {
        color: $color-paragraph;
      }
    }

    td:nth-of-type(2) a {
      color: rgb(101, 131, 233);
    }

    td:nth-of-type(3) {
      a:first-of-type {
        margin-right: 10px;
      }
    }
  }

  tr:first-of-type {
    border-top: solid 0.5px $color-paragraph;
  }
}

.table__links tr {
  td:nth-of-type(3) {
    text-align: right;
  }
}

.form {
  &__wrapper {
    @extend %col-md-8;
    margin: auto;
  }

  &__cell {
    @extend %h4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;

    h4 {
      margin: 7px 0;
    }

    input {
      border-radius: 5px;
      border: 1px solid $color-paragraph;
      padding: 5px 20px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  a {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;

    &:hover {
      background: $color-light-grey;
      border-radius: 5px;
    }
  }
}
